@using Utils
@model WebApp.ViewModels.Reservations.CreateGetModel

@{
    ViewData["Title"] = "Reserve trip";
}

<h2>Reserve a trip</h2>
<div>
    <form method="post" asp-action="Create">
        @Html.ValidationSummary(true, "", new { @class = "text-danger", role = "alert" })
        @Html.HiddenFor(m => m.LegProviderId)
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <partial name="_LegProviderTable" model="Model.LegProviders"/>

        <div>Total travel time: @FormattingUtils.FormatTimeSpan(Model.TotalTravelTime)</div>
        <div>Total price: @Model.TotalPrice</div>

        <input type="submit" class="btn btn-primary" value="Create"/>
    </form>
</div>