@model WebApp.ViewModels.Reservations.DetailsModel

@if (Model.ShowSuccessMessage)
{
    <div class="text-success">Reservation created successfully!</div>
}
<div>TODO: Details for reservation @Model.Id</div>