@using Microsoft.AspNetCore.Identity
@using Domain.Entities.Identity
@using Microsoft.AspNetCore.Http.Extensions
@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hi, @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form id="logout-form" class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">
                Login
            </a>
        </li>
    }
</ul>