@using BLL.DTO.Entities
@using WebApp.Controllers
@using WebApp.Utils
@using WebApp.ViewModels.Shared
@model WebApp.ViewModels.Route.SearchModel

@{
    ViewData["Title"] = "Routes";
}

<form method="get" asp-action="Index">
    <input asp-for="From" type="search" placeholder="From..."/>
    <input asp-for="To" type="search" placeholder="To..."/>
    <input asp-for="Company" type="search" placeholder="Company..."/>
    @WebUtils.GetSortingFormSection(Model)
    <input type="submit" class="btn btn-primary" value="Apply filter"/>
</form>

<partial name="_PaginationUiPartial" model="@PaginationViewModel"/>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Departure), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Arrival), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            <partial name="_SortHeader" model="@(new SortHeaderModel(nameof(LegProviderSummary.TravelTime), Model.ToQueryStringValues, Model.SortBy, "Travel time"))"/>
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Price), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            <partial name="_SortHeader" model="new SortHeaderModel(nameof(LegProviderSummary.Distance), Model.ToQueryStringValues, Model.SortBy)"/>
        </th>
        <th>
            Company
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Results != null)
    {
        var index = 0;
        @foreach (var summary in Model.Results)
        {
            var collapseId = "leg-provider-collapse-" + index;
            <partial name="_LegProviderSearchRow" model="new LegProviderSearchRowModel(summary, collapseId)"/>
            index++;
        }
    }
    </tbody>
</table>

@functions
{
    PaginationUiPartialViewModel PaginationViewModel => new()
    {
        ControllerName = nameof(RouteController),
        ActionName = nameof(RouteController.Index),
        RouteValues = Context.GetRouteValues(),
        Page = Model.Page,
        Limit = Model.Limit,
        Total = Model.Total,
        AmountOnPage = Model.Results?.Count ?? 0,
    };
}